body {      /* Text Color  */
    
    color: white;

    }

body {      /* Background Color  */
    background-color: rgb(53, 53, 53);
    }

body {      /* Text Allignment  */

    text-align: center;
    
    }